body {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#top {
}

header {
}

.visual {
  height: 500px;
}

.content {
  height: 200vh;
  .contents-inner {
    width: 100%;
    position: relative;
    z-index: 1;
    margin: auto;
    .works {
      padding: 104px 0 72px;
      .contents-title {
        padding: 0 5.5% 4vh;
        h2 {
          text-align: center;
          font-size: 2.8rem;
          color: #222;
          letter-spacing: 8px;
          margin: auto;
          padding: 12px 16px;
          font-weight: 400;
          font-family: "Josefin Sans";
        }
        h2:after {
          position: relative;
          top: 24px;
          width: 80px;
          height: 2px;
          display: block;
          margin: auto;
          content: "";
          border-bottom: 3px solid #222;
        }
      }
      .contents-description {
        // opacity: 0;
        padding: 2vh 0 4vh;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}

.visual-area {
  height: 400px;
}

.game-section {
  padding-top: 2vh;
}
.web-section {
  padding-top: 4vh;
  display: block;
  background: #fff;
}
.other-section {
  padding: 4vh 0 0;
  display: block;
  background: #fff;
}

.footer {
}
