body {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

li {
  padding-left: 0px;
  list-style: none;
}

ul {
  padding-left: 0px;
  list-style: none;
}

figure {
  margin: 0;
  /* padding: 0; */
}

#menu {
}

.visual {
  height: 500px;
}

.top-visual {
  height: 650px;
  background-color: cornsilk;
}

.top-bg_1 {
  width: 56%;
  height: 80%;
  background: url(./images/background/top-bg_1.png) no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 44%;
  animation: top-bg_1 0.25s 0.9s ease backwards;
  bottom: 0;
  margin: auto;
  background-color: rgb(142, 200, 218);
}

.top-bg_2 {
  width: 40%;
  height: 30%;
  background: url(./images/background/top-bg_2.png) no-repeat 20% 0;
  background-size: contain;
  position: absolute;
  bottom: 0;
  z-index: 4;
  left: 29%;
  animation: top-bg_2 0.25s 1.1s ease backwards;
  background-color: darkcyan;
}

.top-anim-1 {
  width: 100vw;
  height: 100%;
  bottom: 0;
  background: #55bac8;
  position: absolute;
  z-index: 3;
  overflow: hidden;
  right: 0;
  opacity: 0.95;
}

.top-inner {
  max-width: 1400px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
}

.top-border-anim01 {
}
.top-border-anim02 {
}
.top-svg {
}

/* 自己紹介文 */

.top-area {
  max-width: 57%;
  z-index: 10;
  position: relative;
  top: 2%;
  left: 1.8%;
  padding: 44px 56px;
  line-height: 0;
}

.top-border-anim01 {
}
.top-border-anim02 {
}
.top-svg {
}

.top-about {
}

.pc-line {
}

/* SNSサイドメニュー アイコン */
.top-sns {
}

.content {
}

.content .contents-inner {
  width: 100%;
  position: relative;
  z-index: 1;
  margin: auto;
}

.works {
  /* padding: 104px 0 72px; */
  padding-top: 208px;
  padding-bottom: 72px;
}

.works .contents-title {
  padding: 0 5.5% 4vh;
}

.works .contents-title h2 {
  text-align: center;
  font-size: 2.8rem;
  color: #222;
  letter-spacing: 8px;
  margin: auto;
  padding: 12px 16px;
  font-weight: 400;
  font-family: "Josefin Sans";
  letter-spacing: 3px;
}

.contents-title h2:after {
  position: relative;
  top: 24px;
  width: 80px;
  height: 2px;
  display: block;
  margin: auto;
  content: "";
  border-bottom: 3px solid #222;
}

.contents-description {
  padding: 2vh 0 4vh;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.visual-area {
}

.visual-image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.game-section {
  padding-top: 2vh;
}

.visual-area-inner {
  max-width: 100%;
  margin: auto;
  padding: 0 3.3%;
  text-align: left;
}

.visual-category-inner {
  padding: 3vh 0;
}

.visual-category {
  font-size: 20px;
  color: #222;
  line-height: 1;
  margin: auto;
  text-align: center;
  font-weight: 200;
  z-index: 1;
  position: relative;
  letter-spacing: 3px;
  font-family: -apple-system, BlinkMac SystemFont, YuGothic,
    "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo,
    sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visual-list {
  max-width: 100%;
  letter-spacing: -0.4em;
  text-align: left;
}

.visual-list li {
  max-width: 28.2%;
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  margin: 2.5%;
  position: relative;
}

.animated {
  width: 100%;
  /* background-color: silver; */
}

.web-section {
  padding-top: 13vh;
  display: block;
  background: #fff;
}

.other-section {
  padding: 4vh 0 0;
  display: block;
  background: #fff;
}

.footer {
  width: 100%;
  background: #222;
  color: #fff;
  font-size: 1.5rem;
  font-size: 15px;
  font-family: "Ubuntu";
  padding: 64px 0;
  margin-top: 170px;
}

.footer-sns {
  width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}
